# next
.next/
out/
.vercel/

# deps
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# os
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
*.swp

# env
.env*.local
.vercel
